name: Build and Push Docker Image

on:
  push:
    branches:
      - main
      - docker-in-development

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Build and Push Docker Image
        run: |
          docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
          docker build -t $DOCKER_USERNAME/fiap-project:latest --build-arg DATABASE_URL=${{ secrets.DATABASE_URL }} .
          docker push $DOCKER_USERNAME/fiap-project:latest
 